@import url(../css/reset.css);
.events-preview__item {
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .events-preview__item_mr_desktop {
      margin-right: 30px; } }

.events-preview__img {
  max-width: 100%; }
  @media screen and (min-width: 768px) {
    .events-preview__img {
      width: 100%;
      height: 300px;
      object-fit: cover; } }

@media screen and (min-width: 1024px) {
  .events-preview {
    display: flex;
    flex-basis: 100%; } }
