.container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.form-wrapper{
    width: 400px;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    background: linear-gradient(to right, #e3e333 0%, black 15%, black 85%, #e3e333 100%);
    color: white;
}

.pole{
    border: 1px solid #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.alert{
    max-width: 150px;
    display: none;
    align-items: center;
    border: 1px solid white;
    border-radius: 13px;
    font-size: 13px;
    margin-bottom: 5px;
}

.price-text{
    margin-left: 5px;
}

.close-button{
    box-sizing: content-box;
    cursor: pointer;
    color: white;
    background: none;
    border: 1px solid white;
    border-radius: 50%;
    padding: 1px 5px;
}

.price-wrapper{
    border: 2px solid white;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
}

.error-text{
    display: none;
    font-size: 13px;
}

.pole-focus{
    border: 2px solid green;
}

.pole-blur{
    color: green;
}

.pole-error{
    border: 2px solid red;
}

.alert-blur{
    display: flex;
    justify-content: space-between;
}