body{
    margin: 0;
    padding: 0;
}

.parallax{
    height: 100vh;
    perspective: 2px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax_layout{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.parallax_item{
    font-size: 52px;
}

.parallax_item_base{
    transform: translateZ(0);
}

.parallax-item-back{
    transform: translateZ(-1px);
}