.container{
    width: 1166px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.header-zone{
    width: 100%;
    background: #313131;
}

.head-content{
    display: flex;
    justify-content: space-between;
    color: white;
}

.head-item{
    width: 135px;
    display: flex;
    justify-content: space-around;
}

.logo-img{
    align-self: center;
}

.logo-text{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.header-menu{
    width: 615px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-search{
    display: flex;
    align-self: center;
    padding: 20px;
    background: #000;
}

.title-bg{
    color: white;
    background: url("../img/header-background.png") fixed;
}

.header-news{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 75px;
    padding-top: 115px;
}

.title-text{
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 35px;
}

.title-btn-wrapper{
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.title-button{
    color: white;
    font-size: 18px;
    padding: 15px;
    background-color: #89CA62;
    border-radius: 3px;
    width: 170px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
}

.btn-color{
    background-color: #14B9D5;
}

.page-posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
}

.posts_main_title{
    width: 100%;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    margin: 50px 0;
    color: #18B4CF;
}

.posts_wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    height: 900px;
}

.posts_wrapper a:nth-child(odd){
    margin-bottom: 25px;
}
/* Если есть более приемлемый способ - покажите, пожалуйста */

.post_wrapper{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.post-title{
    margin: 20px 0;
    color: black;
}

.page-clients-bg{
    color: white;
    background: url("../img/popular-clients-bg.png") fixed;
    padding-top: 100px;
    padding-bottom: 150px;
}

.page-clients{
    display: grid;
    position: relative;
    grid-gap: 50px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.clients_main_title {
    grid-column: 1 / span 4;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.clients_blue_line {
    width: 60px;
    content: '';
    position: absolute;
    border-bottom: 3px solid #18B4CF;
    top: 50%;
    left: 47%;
}

.national-img {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
}

.dryme-img {
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
}

.house-home-img {
    grid-column: 3;
    grid-row: 3;
    justify-self: center;
}

.journy-img {
    grid-column: 4;
    grid-row: 3;
    justify-self: center;
}

.top-rated{
    font-family: 'Open Sans', sans-serif;
}

.top-rated_wrapper{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.img_width{
    width: 100%;
}

.hot-news{
    margin-bottom: 70px;
}

.hot-news_wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 60px;
    text-align: right;
}

.hot-text_right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    align-items: center;
    background: #F9F7F7;
}

.hot-text_bottom{
    display: grid;
    align-items: center;
    background: #F9F7F7;
}

.news-article1{
    grid-column: 1 / span 3;
}

.news-article2{
    grid-column: 4;
}

.news-article3{
    grid-column: 1 / span 2;
}

.news-article4{
    grid-column: 3 / span 2;
}

.news-article5{
    grid-column: 1 / span 2;
}

.news-article6{
    grid-column: 3 / span 2;
}

.news-article7{
    grid-column: 1;
}

.news-article8{
    grid-column: 2 / span 3;
}

.hot-text_center{
    text-align: center;
}

.hot-big_text{
    font-weight: bold;
    font-size: 18px;
}

.hot-small_text{
    margin-top: 15px;
    font-size: 14px;
    line-height: 20px;
}

.footer-zone{
    width: 100%;
    background: #000;
    padding: 28px 0;
}

.footer-text{
    font-size: 13px;
    margin-top: 5px;
}