.product {

  &__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 16%;
    padding: 2%;
    font-size: 14px;
    font-family: 'Merienda One', cursive;
    border: 3px solid black;
    margin-bottom: 5%;
  }

  &__img {
    width: 80%;
    align-self: center;

    &_wrapper {
      display: flex;
      width: 100%;
      height: 150px;
      justify-content: center;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__price {
    text-align: center;
    align-self: center;
  }

  &__add-to-cart {
    font-size: 12px;
    text-transform: uppercase;
    padding: 7px 9px;
    border-radius: 6px;
    border: 1px solid black;
    cursor: pointer;
    align-self: center;
  }

  &__title {
    padding: 5px 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  &__code {
    padding: 5px 0;
    text-align: left;
  }
}

.favorites {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.in-cart {
  background: green;
}
