.password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    position: relative;
}

.input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 15px;
}

.icon-password {
    position: absolute;
    right: 10px;
    top: 12px;
    color: grey;
}
.no-margin{
    margin: 0;
}

.error-text{
    display: none;
    color: red;
    font-size: 15px;
}

.btn {
    margin-top: 10px;
    width: 150px;
}