*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

.article-title{
    margin: 20px 0;
}

.article-title-text{
    color: black;
    font-size: 40px;
    text-decoration: none;
}

.title-color{
    color: #63BFF0;
}

.main-menu{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: rgba(54, 68, 79, 0.75);
}

.main-menu-text{
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    padding: 15px 20px;
    border-left: 1px solid black;
}

.main-menu-text:hover{
    background-color: #222e3a;
}

.border-right{
    border-right: 1px solid black;
}

.article-body{
    width: 100%;
    margin-top: 25px;
}

.side-bar{
    display: inline-block;
    width: 350px;
    border: 1px solid #A5AAAE;
    margin-right: 35px;
    vertical-align: top;
}

.side-bar a{
    display: block;
    text-decoration: none;
}

.side-bar-text{
    font-size: 25px;
    padding: 15px 0 15px 25px;
    color: #A5AAAE;
}

.side-bar-text:hover{
    background-color: #A5AAAE;
    color: black;
    padding-left: 45px;
}

.block-article{
    display: inline-block;
    width: 885px;
    vertical-align: middle;
    text-align: center;
}

.block-image{
    padding: 40px 280px;
    border: 1px solid black;
}

.article-img{
    transition: 0.75s;
}

.article-img:hover{
    transform: scale(1.1);
}

.article-text{
    margin-top: 25px;
    text-align: left;
}

.footer-zone{
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    background-color: rgba(179, 183, 186, 0.75);
    margin: 50px 0;
}

.footer-text{
    color: #000000;
    font-size: 24px;
    text-decoration: none;
    padding: 15px 20px;
}

.footer-text:hover{
    color: #83a4ab;
    text-decoration: underline;
}

.footer-text-copyright{
    color: #000000;
    font-size: 24px;
    text-decoration: none;
    padding: 15px 20px;
}

.ml{
    margin-left: 25px;
}

.mr{
    margin-right: 150px;
}
