.btn {
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  outline: none;
  font-size: 20px;
  align-self: center;

  &-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
  }
}


.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding-top: 150px;

  &_body {
    padding: 10px;
    width: 33%;
    height: 165px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &_One{
      background-color: #5a7d9e;
    }
    &_Two {
      background-color: #5a9d7e;
    }
  }

  &-text {
    margin: 0;
    font-size: 18px;
  }

  &_btn {
    width: 100px;
    font-size: 20px;
    align-self: center;
    align-items: center;
  }

  &_btn_close{
    align-self: center;
    width: 30px;
    height: 30px;
    font-size: 28px;
    background-color: rgba(0,0,0,0);
    outline: none;
    border: none;
  }

  &_content {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
  }

  &_title {
    margin-left: 10px;
    font-size: 20px;
  }
}


.foot_btn {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}