.img {
    display: none;
    width: 400px;
    height: 400px;
    margin-bottom: 15px;
}

.images-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    border: none;
    border-radius: 20px;
    min-width: 120px;
    padding: 7px;
    color: #fff;
    background-color: #33333a;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.change{
    margin-top: 10px;
}

.image-show{
    display: block;
}