.container{
    width: 1066px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.page-bg{
    background: url(../img/background.png);
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
}

.header-zone{
    padding: 50px 0;
}

.logo{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 29px;
    font-weight: bold;
}

.logo-img{
    margin-right: 5px;
}

.logo-text-wrapper{
    display: inline-block;
}

.logo-milan{
    padding-bottom: 3px;
}

.logo-holidays{
    font-size: 19px;
}

.logo:hover{
    color: #f26522;
}

.logo:hover .logo-img{
    content: url("../img/logo-hover.png");
}

.contacts{
    display: inline-block;
    float: right;
    text-align: right;
}

.contacts-text{
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.contacts-text:first-of-type{
    display: block;
    margin-bottom: 8px;
}

.contacts-text:hover{
    color: #f26522;
}

.gallery{
    text-align: center;
}

.gallery-item{
    display: inline-block;
    float: left;
    text-decoration: none;
    margin-right: 83px;
    margin-bottom: 30px;
}

.gallery-item:nth-child(3n){
    margin-right: 0px;
}

.item-image{
    width: 300px;
    padding-top: 160px;
}

.tour-item-img1{
    background-image: url("../img/tour1.png");
}

.tour-item-img2{
    background-image: url("../img/tour2.png");
}

.tour-item-img3{
    background-image: url("../img/tour3.png");
}

.tour-item-img4{
    background-image: url("../img/tour4.png");
}

.tour-item-img5{
    background-image: url("../img/tour5.png");
}

.tour-item-img6{
    background-image: url("../img/tour6.png");
}

.tour-item-description{
    box-sizing: border-box;
    background-color: #f26522;
    padding: 10px;
    opacity: 0;
}

.gallery-item:hover .tour-item-description{
    opacity: 1;
}

.gallery-item:hover .tour-item-name{
    color: #f26522;
}

.item-price{
    float: left;
    font-size: 20px;
    color: white;
}

.item-price:before{
    content: 'from';
    display: block;
    text-align: left;
    font-size: 12px;
    margin-bottom: 5px;
}

.item-price-details{
    float: right;
    font-size: 15px;
    color: white;
    margin-top: 20px;
}

.item-price-details::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 2px solid transparent;
    border-top-color: white;
    border-right-color: white;
    transform: rotate(45deg);
    margin: 0 10px;
}

.tour-item-name{
    margin: 20px 0;
    font-size: 16px;
    color: white;
}

.footer-zone{
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-zone:before{
    content:'\A9';
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}