.page-bg {
    background: url(../img/background.png);
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
}

.container {
    width: 1166px;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}

.header-zone {
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    float: left;
    text-transform: uppercase;
    font-size: 22px;
    color: white;
    margin-top: 9px;
}

.page-link{
    display: inline-block;
}

.page-link:hover{
    color: #3CB878;
}

.head-right_wrapper{
    float: right;
}

.page-link-icon{
    display: inline-block;
    vertical-align: middle;
}


.header-login {
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 15px;
}

.header-login::before {
    content: '';
    background: gray;
    width: 2px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    margin-left: 15px;
}

.header-icon {
    margin: 10px;
    width: 20px;
    height: 20px;
}

.journey-icon {
    background-image: url("../img/header-icons.png");
    background-repeat: no-repeat;
    background-position: -65px -15px;
}

.journey-icon:hover {
    background-image: url("../img/header-icons-hover.png");
    background-repeat: no-repeat;
    background-position: -64px -15px;
}

.forum-icon {
    background-image: url("../img/header-icons.png");
    background-repeat: no-repeat;
    background-position: -119px -15px;
}

.forum-icon:hover {
    background-image: url("../img/header-icons-hover.png");
    background-repeat: no-repeat;
    background-position: -118px -15px;
}

.calendar-icon {
    background-image: url("../img/header-icons.png");
    background-repeat: no-repeat;
    background-position: -15px -15px;
}

.calendar-icon:hover {
    background-image: url("../img/header-icons-hover.png");
    background-repeat: no-repeat;
    background-position: -14px -15px;
}

.page-autorization {
    position: relative;
    width: 325px;
    background-color: white;
    padding: 30px 60px;
    border-radius: 5px;
    transform: translateY(calc((100vh - 70px - 410px) / 2));
}

.autorization-title {
    float: left;
    font-size: 20px;
}

.autorization-title::before {
    position: absolute;
    left: 0;
    content: '';
    float: left;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}

.page-login {
    float: right;
    color: #3CB878;
    font-size: 15px;
}

.social-wrap{
    margin-top: 20px;
}

.button-reg {
    display: inline-block;
    box-sizing: border-box;
    float: left;
    width: 160px;
    color: white;
    font-size: 16px;
    border-radius: 3px;
    padding: 10px 15px;
    background-color: #305DB8;
}

.reg-text-fb{
    display: inline-block;
    float: right;
    margin-top: 6px;
    margin-right: 8px;
}

.image-reg-fb {
    padding: 3px 15px 3px 5px;
    border-right: 2px solid rgba(10, 22, 47, 0.1);
}

.google-reg {
    background-color: #DF4A32;
    float: right;
}

.image-reg-ggle {
    padding: 5px 10px 5px 0;
    border-right: 2px solid rgba(10, 22, 47, 0.1);
}

.reg-text-ggle{
    display: inline-block;
    float: right;
    margin-top: 6px;
    margin-right: 15px;
}

.or-lines{
    display: block;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 15px 0;
    color: #848484;
}

.or-lines::before{
    display: block;
    width: 300px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #f2f2f2;
    top:50%;
    right: 175px;
}

.or-lines::after{
    display: block;
    width: 300px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #f2f2f2;
    top:50%;
    left: 175px;
}

.feedback-item {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin-bottom: 15px;
    outline: none;
}

.feedback-item::placeholder{
   color: lightgray;
    font-size: 15px;
}

.feedback-item:focus{
    box-shadow: 0px 2px 5px gray;
    border: none;
}

.feedback-item-checkbox{
    margin: 15px 10px 15px 0;
    font-size: 15px;
}

.page-terms{
    color: #3CB878;
}

.feedback-item-submit{
    width: 100%;
    box-sizing: border-box;
    background-color: #3CB878;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 10px 100px;
    margin-top: 15px;
    cursor: pointer;
    outline: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}