body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: yellow;
    background-color: black;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.scene{
    position: relative;
    max-width: 600px;
    height: 1000px;
    margin: 0 auto;
    transform: perspective(250px) rotateX(22deg);
    transform-origin: 50% 25%;
}

.content{
    position: absolute;
    top: 100%;
    font-size: 36px;
    text-align: justify;
    animation: starWars 30s linear infinite;
}

.text{
    text-align: center;
}

@keyframes starWars {
    0%{
        top: 50%;
    }
    100%{
        top: -100%;
    }
    
}