.container{
    padding: 0 25px;
}

.header{
    position: relative;
}

.header__container{
    display: flex;
    justify-content: flex-end;
}

.nav{
    position: absolute;
    width: 180px;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    right: 25px;
    bottom: 0;
    transform: translateY(100%);
}

.burger-toggle{
    width: 44px;
    height: 37px;
    position: relative;
    background: #000;
    border: 0;
    overflow: hidden;
    cursor: pointer;
}

.burger-toggle__item{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 17px;
    height: 2px;
    background-color: white;
    transition: all 0.2s ease;
}

.burger-toggle__item:first-child{
    transform: translateX(-50%) translateY(calc(-50% - 4px));
}

.burger-toggle__item:last-child{
    transform: translateX(-50%) translateY(calc(-50% + 4px));
}

.burger-toggle_active .burger-toggle__item{
    transform: translateX(-150%) translateY(-50%);
    opacity: 0;
}

.burger-toggle_active .burger-toggle__item:first-child{
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    opacity: 1;
}

.burger-toggle_active .burger-toggle__item{
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    opacity: 1;
}