.caption {
    font-size: 48px;
    color: cadetblue;
    text-align: center;
}

.text {
    max-width: 450px;
    margin: 20px 0;
    padding: 0 15px;
    font-size: 14px;
    text-transform: capitalize;
    font-style: italic;
}

.img{

}

.box {
    width: 100%;
    height: 200px;
    border: 1px solid #000;
    background: linear-gradient(to right,#e3e333 0%, #e3e333 40%, white 60%);
}
.box_red {
    background-color: red;
}
.card {
    display: flex;
    border: 1px solid #000;
    max-width: 100%;
    justify-content: space-between;
}
