body{
    font-family: 'Montserrat', sans-serif;
}

.gallery{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.page-about {
    display: flex;
    flex-direction: column;
    background: linear-gradient(white 0%, white 30%, #F9F7F7 70%, #F9F7F7 100%);
}

.about-title{
    display: flex;
    justify-content: center;
}

.about__block_video{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
    color: gray;
}

.about_1_block{
    display: flex;
    margin-right: 125px;
}

.about__4_blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.block-call{
    color: black;
    font-weight: bold;
    margin-left: 15px;
}

.article-main{
    display: flex;
    flex-direction: column;
}

.article-about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 255px;
}

.gallery-logos{
    align-self: center;
}

.gallery-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery-item{

}

.gallery-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 285px;
}

.gallery-title{
    margin-bottom: 25px;
}

.gallery-mainlogo{
    align-self: center;
    margin-bottom: 10px;
}

.gallery-subtitle{

}

.gallery-row_bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.gallery-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}