.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer{
    font-size: 48px;
}

.btn {
    border: none;
    border-radius: 20px;
    min-width: 120px;
    padding: 7px;
    color: #fff;
    background-color: #d9a;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}