.contacts {
  width: 100%;
  box-sizing: border-box;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 320px) {
    width: 100%;
    padding: 40px 35px 45px 35px;
  }
  @media screen and (min-width: 768px) {
    width: 100%;
    padding: 50px 100px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    padding: 60px 250px 60px;
  }

  &__tittle {
    text-transform: uppercase;
    color: #FEFEFE;

    @media screen and (min-width: 320px) {
      font-size: 13px;
    }
    @media screen and (min-width: 768px) {
      font-size: 17px;
    }
  }

  &__subtitle {
    color: #B9B9B9;
    text-align: center;
    line-height: 165%;

    @media screen and (min-width: 320px) {
      font-size: 13px;
      margin: 10px 0 25px 0;
    }
    @media screen and (min-width: 768px) {
      font-size: 17px;
      margin: 22px 0 37px 0;
    }
  }

  &__container-links {
    display: flex;
    width: 200px;
    justify-content: space-between;
  }

  &__link {
    width: 34px;
    height: 34px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


    &_rss {
      border-color: #F8902E;
    }
    &_facebook {
      border-color: #39599F;
    }
    &_twitter {
      border-color: #45B0E3;
    }
    &_dribbble {
      border-color: #D97AB0;
    }
    &_pinterest {
      border-color: #CC212C;
    }
  }

  &__container-contacts {
    display: flex;

    @media screen and (min-width: 320px) {
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
    }
    @media screen and (min-width: 768px) {
      flex-direction: row;
      margin-top: 35px;
    }
  }

  &__contacts-item {
    color: #B9B9B9;

    &_pseudo-elem::after {
      display: inline-block;
      content: '/';
      color: #B9B9B9;

      @media screen and (min-width: 320px) {
        font-size: 15px;
        margin-left: 10px;
      }
      @media screen and (min-width: 320px) {
        font-size: 17px;
        margin: 0 7px;
      }
    }
    @media screen and (min-width: 320px) {
      font-size: 15px;
      margin-bottom: 10px;
    }
    @media screen and (min-width: 768px) {
      font-size: 17px;
    }
  }

}
