.header {
  width: 100%;
  display: flex;

  @media screen and (min-width: 320px) {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  &__nav {

    @media screen and (min-width: 320px) {
      position: absolute;
      background-color: #F5F5F5;
      top: 60px;
      right: 20px;
      display: none;

      &_active {
        display: block;
      }
    }

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      position: inherit;
      width: 520px;
      margin: 0 auto;
      background-color: #fff;
    }

    @media screen and (min-width: 1200px) {
      width: 820px;
    }
  }


  &__link {
    color: #4E4E4E;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-size: 12px;

    &_active{
      color: #57A4A4;
    }

    @media screen and (min-width: 320px) {
      display: block;
      padding: 7px 80px 7px 10px;

      &:hover {
        background-color: #E5E5E5;
      }
    }

    @media screen and (min-width: 768px) {
      display: inline;
      padding: 40px 0;

      &:hover {
        color: #57A4A4;
        background-color: #fff;
      }
    }
  }
}

.menu-button {
  @media screen and (min-width: 320px) {
    padding: 23px 20px 23px 0;

    &__container {
      width: 45px;
      height: 37px;
      background-color: #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__item {
      position: relative;
      width: 18px;
      height: 2px;
      background-color: #fff;

      &::before {
        position: absolute;
        left: 0;
        top: -5px;
        display: block;
        content: "";
        width: 18px;
        height: 2px;
        background-color: #fff;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
      }

      &::after {
        position: absolute;
        left: 0;
        top: 5px;
        display: block;
        content: "";
        width: 18px;
        height: 2px;
        background-color: #fff;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
      }

      &_active {
        background-color: transparent;

        &::after {
          transform: rotate(-45deg);
          top: 0;
          transition: top 0.3s linear, transform 0.5s ease-in 0.5s;
        }

        &::before {
          transform: rotate(45deg);
          top: 0;
          transition: top 0.3s linear, transform 0.5s ease-in 0.5s;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}