.instagram-shots {
  width: 100%;
  box-sizing: border-box;

  @media screen and (min-width: 320px) {
    width: 100%;
    background-color: #fff;
    padding: 25px 18px 42px 18px;
  }
  @media screen and (min-width: 768px) {
    width: 100%;
    background-color: #f4f4f4;
    padding: 45px 80px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    background-color: #f4f4f4;
  }


  &__container-titles {
    display: flex;
    justify-content: space-between;
  }


  &__title {
    font-size: 15px;
    text-transform: uppercase;
    color: #4E4E4E;

    @media screen and (min-width: 320px) {
      margin-bottom: 15px;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 35px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 25px;
    }
  }


  &__subtitle {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #4E4E4E;

    @media screen and (min-width: 320px) {
      &_hidden-320px {
        display: none;
      }
    }
    @media screen and (min-width: 768px) {
      display: inherit;

    }
    @media screen and (min-width: 1200px) {
      display: inherit;
    }
  }


  &__container-images {
    display: flex;
    justify-content: space-between;
  }


  &__image {
    @media screen and (min-width: 320px) {
      &_hidden-320px {
        display: none;
      }
    }
    @media screen and (min-width: 768px) {
      width: calc((100% / 3) - 5px);

      &_hidden-320px {
        display: inherit;
      }
      &_hidden-768px {
        display: none;
      }
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% / 4) - 5px);
      display: inherit;
    }
  }
}
