* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
}

@import 'reset';
@import 'header';
@import 'main-image';
@import 'recent-posts';
@import 'instagram-shots';
@import 'contacts';
