ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}

.tabs-title {
    font-size: 20px;
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

.tabs-title:hover{
    color: white;
}

.content-text{
    font-size: 20px;
    text-align: center;
}

.active {
    background-color:#937341 ;
    color: #23201D;
}