.circle{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    border: 1px solid black;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: Jumping 2s linear infinite;
}

@keyframes  Jumping{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(100px);
    }

    100%{
        transform: translateY(0);
    }
}