.app {
  background-color: #f6d4ad;
}

.btn {
  font-size: 14px;
  border-radius: 5px;
  padding: 5px 15px;
  outline: none;
  cursor: pointer;

  &_wrapper {
    width: 35%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
}