.glide__arrow {
  width: 30px;
  height: 30px;
  color: white;
  align-self: center;
  position: relative;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background-color 300ms ease, border 300ms ease-in-out;
}
  .glide__arrow:focus {
    outline: none; }
  .glide__arrow:hover {
    background-color: #18CFAB;
    border-color: #18CFAB; }
  .glide__arrow--left::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 12px;
    width: 5px;
    height: 5px;
    border: 2px solid transparent;
    border-top-color: white;
    border-right-color: white;
    transform: rotate(-135deg);
    }
  .glide__arrow--right::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 7px;
    width: 5px;
    height: 5px;
    border: 2px solid transparent;
    border-top-color: white;
    border-right-color: white;
    transform: rotate(45deg); }
  .glide__arrow--disabled {
    opacity: 0.33; }

.glide__bullets {
  display: inline-flex;
  justify-content: space-between;
  width: 335px;
  list-style: none;
}

.glide__bullet {
  background-color: transparent;
  padding: 0;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  margin: 0 0.25em; }
  .glide__bullet:focus {
    outline: none; }
  .glide__bullet:hover, .glide__bullet:focus {
    border: 5px solid #18CFAB;}
  .glide__bullet--active {
    transform: translateY(-10px); }

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }
