.container{
    width: 1160px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.header-zone{
    width: 100%;
    background: rgba(49, 49, 49, 0.4);
}

.head-content{
    display: flex;
    justify-content: space-between;
    color: white;
}

.head-item{
    display: flex;
    justify-content: space-around;
}

.logo-img{
    align-self: center;
    margin-right: 5px;
}

.logo-letter{
    width: 60px;
    margin-right: 10px;
    align-self: center;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    background: #18CFAB;
    position: relative;
}

.logo-letter::before{
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 15px solid #18CFAB;
}

.logo-letter::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #18CFAB;
}

.logo-text{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
}

.txt-color{
    color: #18CFAB;
}

.header-menu{
    width: 615px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-a{
    font-size: 15px;
    padding: 25px 0;
}

.header-menu-a:hover{
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.head-search{
    display: flex;
    align-self: center;
    padding: 20px;
}

.title-bg{
    color: white;
    background: url("../img/Sections background/section-1(header).jpg") fixed;
}

.header-news{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0;
}

.title-text{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.text-big{
    font-size: 70px;
}

.text-color{
    font-weight: normal;
    color: #D4D4D4;
}

.title-btn-wrapper{
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}

.title-button{
    color: white;
    font-size: 15px;
    padding: 22px;
    background-color: #18CFAB;
    font-weight: bold;
    box-shadow: 0px -5px white;
    border-radius: 3px;
    width: 170px;
    box-sizing: border-box;
}

.btn-color{
    background-color: #00CBF6;
}



.product-placement-wrapper{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.placement{
    width: calc(100%/4);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #18CFAB;
    background: #1C2A33;
    padding: 68px;
}

.placement:nth-child(even){
    background: #18CFAB;
    color: white;
}

.placement-img{
    height: 76px;
    margin-bottom: 45px;
}

.article-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    color: #4E4E4E;
    padding: 90px 0;
}

.article-title{
    position: relative;
    margin-bottom: 100px;
}

.article-title::after{
    content: "";
    position: absolute;
    top: 200%;
    left: 40%;
    width: 65px;
    border-bottom: 1px solid #18CFAB;
    box-shadow: 15px 5px #18CFAB;
}

.srv-lines{
    margin: 20px 0;
}



.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}

.tabs-title {
    width: 143px;
    border: 1px solid white;
    text-align: center;
    font-size: 16px;
    padding: 25px;
    background: #F8FCFE;
    color: #717171;
    cursor: pointer;
}

.tabs-title:hover{
    border: 1px solid #18CFAB;
}

.svc-content{
    display: flex;
}

.content-text{
    color: #777777;
    font-size: 15px;
    line-height: 25px;
    margin-left: 10px;
}

.active {
    position: relative;
    background: #18CFAB;
    border: 1px solid #18CFAB;
    color: white;
}

.active::after{
    content: "";
    position: absolute;
    top: 66px;
    left: 88px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #18CFAB;
}



.just-buy-bg{
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/Sections background/section-2.jpg') fixed;
}

.just-buy-wrapper{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 0;
}

.buy-text-big{
    font-size: 40px;
    font-weight: bolder;
    color: #18CFAB;
}

.buy-text-small{
    font-size: 16px;
    color: #D7D7D7;
    margin-top: 30px;
    margin-bottom: 80px;
}

.buy-btn{
    color: white;
    font-size: 15px;
    padding: 22px;
    background-color: #18CFAB;
    font-weight: bold;
    box-shadow: 0px -5px white;
    border-radius: 3px;
    width: 170px;
    box-sizing: border-box;
}



.work-tabs{
    background: rgba(0, 0, 0, 0.0001);
    margin-bottom: 50px;
}

.work-tabs-title {
    border: 1px solid #DADADA;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    padding: 23px;
    color: #717171;
    cursor: pointer;
}

.wtabs-title-active{
    border: 2px solid #18CFAB;
}

.work-img-wrapper{
    margin-bottom: 13px;
}

.img-content{
    display: flex;
    flex-wrap: wrap;
}

.load-more-btn{
    margin: 37px 0;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    background-color: #18CFAB;
    border-radius: 3px;
    width: 170px;
    box-sizing: border-box;
}

.bg-work{
    background: #E9EDEF;
}



.news-hover{
    width: 284px;
    height: 201px;
    borderTop: 5px solid #1FDAB5;
    background: #E9EDEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.news-hover-textbig{
    font-size: 15px;
    color: #18CFAB;
}

.news-hover-textsmall{
    font-size: 12px;
    color: #8A8A8A;
}

.hover-btn{
    width: 40px;
    height: 40px;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-btn:hover{
    cursor: pointer;
    background-color: #18CFAB;
}

.hover-btn:hover .icon{
    fill: white;
}

.hover-text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.news-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-post{
    position: relative;
    display: flex;
    flex-direction: column;
}

.news-post > img{
    object-fit: cover;
}

.news-post:nth-child(-n+4){
    margin-bottom: 50px;
}

.news-date{
    width: 70px;
    box-sizing: border-box;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    bottom: 202px;
    right: 0;
    color: white;
    background-color: #203E38;
}

.news-text-big{
    font-weight: bold;
    font-size: 18px;
    color: #717171;
    margin-top: 10px;
    margin-left: 10px;
}

.news-text-small{
    font-size: 14px;
    color: #777;
}

.news-text-small:nth-child(n){
    padding: 0 10px;
}

.news-text-small:first-child{
    border-right: 1px solid #777;
}

.news-post:hover .news-date{
    background: #18CFAB;
}

.news-post:hover .news-text-big{
    color: #18CFAB;
}

.img-unit-wrapper > div{
    display: none;
}


.people-bg{
    color: white;
    background: url('../img/Sections background/sec.png') fixed;
}

.color-white{
    color: white;
}



.nav-menu-wrapper{
    width: 440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.post-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 10px solid rgba(31, 218, 181, 0.3);
    object-fit: cover;
}

.post-bullet{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 5px solid rgba(31, 218, 181, 0.3);
    overflow: hidden;
}

.post-img-bullet{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-text{
    font-size: 16px;
    color: #BBB;
    line-height: 30px;
    margin-bottom: 25px;
    text-align: center;
}

.post-author{
    font-size: 18px;
    color: #18CFAB;
    font-weight: bold;
    margin-bottom: 10px;
}


.footer-zone{
    color: #AEAEAE;
    text-align: center;
    background: #22353F;
    padding: 30px 0;
    font-size: 14px;
}