.main_table{
    width: 1150px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    border: 20px solid #3A4965;
    font-family: 'Arimo', sans-serif;
    color: #484848;
}

td{
    border: 1px solid #d6d6d6;
    padding: 20px 35px;
}

thead{
    font-weight: bold;
    border: none;
}

tr:nth-child(odd){
    background: #f2f2f2;
}

tr:nth-child(even){
    background: #e3e3e3;
}

i{
    padding: 10px;
}

.first-cell{
    border: none;
}

.text_1{
    margin-bottom: 5px;
    font-size: 15px;
}

.text_2{
    margin: 0;
    font-size: 25px;
}

.head-title{
    color: white;
    background: #89C331;
    border: none;
}

.head-title_red{
    background: #F04A56;
}

.head-title_blue{
    background: #20807C;
}

.title-price_text{
    font-size: 45px;
    font-weight: bold;
}

.title-price_sup{
    font-size: 18px;
    position: relative;
    bottom: 13px;
    right: 0;
}

.title-price_subtext{
    font-weight: normal;
    font-size: 15px;
    position: relative;
    bottom: 13px;
    right: 35px;
}

.icon_color{
    font-size: 24px;
    color: #848484;
}

.table-button{
    padding: 15px 30px;
    width: 195px;
    box-sizing: border-box;
    color: white;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.table-button:hover{
    opacity: 0.7;
}

.table-button_black{
    background: linear-gradient(to bottom, #484848 80%, #404040 20%);
}

.table-button_green{
    background: linear-gradient(to bottom, #89C331 80%, #79B027 20%);
}

.table-button_red{
    background: linear-gradient(to bottom, #F04A56 80%, #DF3A46 20%);
}

.table-button_blue{
    background: linear-gradient(to bottom, #20807C 80%, #16736F 20%);
}